" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader=" "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
set linenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set relativenumber
set oldundo
set idearefactormode=visual

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'

" EasyMotion
Plug 'easymotion/vim-easymotion'
set notimeout

" Which key settings
set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_SortOrder = "by_key_prefix_first"

" Leader key description
let g:WhichKeyDesc_leader = "<leader> Leader key"

" Folding
let g:WhichKeyDesc_folding = "<leader>z Folding"
let g:WhichKeyDesc_folding_collapse = "<leader>zc Collapse all regions"
let g:WhichKeyDesc_folding_expand = "<leader>zo Expand all regions"

" Git
let g:WhichKeyDesc_git = "<leader>g Git operations"
let g:WhichKeyDesc_git_checkin = "<leader>gc Check in project"
let g:WhichKeyDesc_git_status = "<leader>gs Activate Version Control tool window"
let g:WhichKeyDesc_git_branches = "<leader>gb Git branches"
let g:WhichKeyDesc_git_commit = "<leader>gg Activate Commit tool window"
let g:WhichKeyDesc_git_push = "<leader>gp Push changes"
let g:WhichKeyDesc_git_view = "<leader>gv View operations"
let g:WhichKeyDesc_git_view_pull_requests = "<leader>gvp View pull requests"

" Navigation
let g:WhichKeyDesc_find = "<leader>f Find and navigate"
let g:WhichKeyDesc_find_file = "<leader>ff Go to file"
let g:WhichKeyDesc_find_in_path = "<leader>fc Find in path"
let g:WhichKeyDesc_recent_locations = "<leader>fl Recent locations"
let g:WhichKeyDesc_recent_files = "<leader>fr Recent files"

" Searching
let g:WhichKeyDesc_search = "<leader>s Search"
let g:WhichKeyDesc_search_everywhere = "<leader>se Search everywhere"

" File explorer
let g:WhichKeyDesc_explorer = "<leader>e Open NERDTree"

" Close tab
let g:WhichKeyDesc_close_tab = "<leader>q Close active tab"

" Go to action
let g:WhichKeyDesc_goto_action = "<leader>a Go to action"

" Refactoring
let g:WhichKeyDesc_refactor = "<leader>r Refactoring"
let g:WhichKeyDesc_rename = "<leader>rr Rename element"
let g:WhichKeyDesc_refactor_menu = "<leader>rR Refactoring quick list"
let g:WhichKeyDesc_reformat = "<leader>rc Reformat code"
let g:WhichKeyDesc_optimize_imports = "<leader>ro Optimize imports"

" Code actions
let g:WhichKeyDesc_code_actions = "<leader>. Show intention actions"

" Terminal
let g:WhichKeyDesc_terminal = "<leader>t Activate terminal tool window"

" Window management
let g:WhichKeyDesc_window = "<leader>w Hide all windows"

" Splitting windows
let g:WhichKeyDesc_split = "<leader>\\ Split vertically"
let g:WhichKeyDesc_split_vertical = "<leader>v Split vertically"
let g:WhichKeyDesc_split_horizontal = "<leader>- Split horizontally"
let g:WhichKeyDesc_split_horizontal_alt = "<leader>h Split horizontally"

" Commenting
let g:WhichKeyDesc_comment = "<leader>c Commenting"
let g:WhichKeyDesc_comment_line = "<leader>cl Comment by line"
let g:WhichKeyDesc_comment_block = "<leader>cb Comment by block"

" EasyMotion
let g:WhichKeyDesc_easymotion_word = "\\w EasyMotion word"
let g:WhichKeyDesc_easymotion_search = "<leader>j EasyMotion search"

" IdeaVim configuration
let g:WhichKeyDesc_ideavim_edit = "\\e Edit IdeaVim config"
let g:WhichKeyDesc_ideavim_reload = "\\E Reload IdeaVim config"

" Other actions
let g:WhichKeyDesc_reformat_code = "\\r Reformat code"
let g:WhichKeyDesc_optimize_imports_alt = "\\o Optimize imports"

" Code navigation (Zed-style)
let g:WhichKeyDesc_goto = "g Go to"
let g:WhichKeyDesc_goto_actions = "ga Show intention actions"
let g:WhichKeyDesc_goto_hover = "gh Show hover info"
let g:WhichKeyDesc_goto_implementation = "gi Go to implementation"
let g:WhichKeyDesc_goto_type = "gt Go to type declaration"
let g:WhichKeyDesc_goto_references = "gr Find usages"
let g:WhichKeyDesc_goto_usages = "gu Show usages"
let g:WhichKeyDesc_goto_declaration = "gd Go to declaration"

" Method navigation
let g:WhichKeyDesc_method_prev = "[[ Go to previous method"
let g:WhichKeyDesc_method_next = "]] Go to next method"

" NERDTree
let g:WhichKeyDesc_nerdtree = "<C-n> Toggle NERDTree"

" Projects
let g:WhichKeyDesc_recent_projects = "<leader>p Projects"
let g:WhichKeyDesc_recent_projects_open = "<leader>pp Open recent projects"

" Buffer management
let g:WhichKeyDesc_buffer = "<leader>b Buffer management"
let g:WhichKeyDesc_buffer_close = "<leader>bd Close buffer"

" Jump between errors
let g:WhichKeyDesc_error_next = "]e Go to next error"
let g:WhichKeyDesc_error_prev = "[e Go to previous error"

" Jump between windows
let g:WhichKeyDesc_window_down = "<C-J> Move down"
let g:WhichKeyDesc_window_up = "<C-K> Move up"


" Silent version (prevents the need to hit Enter)
let g:WhichKeyDesc_newline_below = "<leader>o New line below without insert mode"
let g:WhichKeyDesc_newline_above = "<leader>O New line above without insert mode"

let g:WhichKeyDesc_toggle_line_numbers = "<leader><Tab> Toggle line numbers"

" Copy whole file
let g:WhichKeyDesc_copy_file = "<C-a> Copy whole file"

" toggle line number relative
let g:WhichKeyDesc_toggle_relative_number = "<leader><Tab> Toggle relative line numbers"


" Bookmarks
let g:WhichKeyDesc_bookmarks = "<leader>b Bookmarks"
let g:WhichKeyDesc_bookmarks_menu = "<leader>bm Bookmark Menu"
let g:WhichKeyDesc_bookmarks_show = "<leader>bs Show Bookmarks"
let g:WhichKeyDesc_bookmarks_tool = "<leader>bt Bookmark Tool"
let g:WhichKeyDesc_bookmarks_toggle_bookmark = "<leader>bb Toggle Bookmark"
let g:WhichKeyDesc_bookmarks_edit = "<leader>be Edit Bookmark"
let g:WhichKeyDesc_bookmarks_prev = "<leader>bp Previous Bookmark"
let g:WhichKeyDesc_bookmarks_next = "<leader>bn Next Bookmark"

" ----------------------------
" --- Custom Keybindings -----
" ----------------------------
" Escape with jj
inoremap jj <Esc>

" Jump between methods
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Actions
" map <leader>am <action>(ShowIntentionActions)
" map <leader>as <action>(SearchEverywhere)

" Jump around with easymotion
map \w <Plug>(easymotion-w)
map <leader>j <Plug>(easymotion-s)

"" -- NERDTree
map <c-n> :NERDTree<CR>

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gs <Action>(ActivateVersionControlToolWindow)
map <leader>gb <Action>(Git.Branches)
map <leader>gg <Action>(ActivateCommitToolWindow)
map <leader>gp <Action>(Vcs.Push)
map <leader>gvp <Action>(Github.View.Pull.Request)
map <leader>gf <Action>(Git.Fetch)


" Reformat code and optimize imports
map \r <Action>(ReformatCode)
map \o <Action>(OptimizeImports)

" Navigation
map <leader>ff <Action>(GotoFile)
map <leader>fc <action>(FindInPath)
map <leader>fl <action>(RecentLocations)
map <leader>fr <Action>(RecentFiles)

" Searching
map <leader>se <Action>(SearchEverywhere)

" NERDTree
map <leader>e :NERDTree<CR>

" Close active tab
map <leader>q <action>(CloseContent)

" Buffer management
map <leader>bd <action>(CloseContent)

" Go to action
map <leader>a <Action>(GotoAction)

" Open recent projects
map <leader>pp <Action>(ManageRecentProjects)
map <leader>pc <Action>(CloseProject)

" Refactoring
map <leader>rr <Action>(RenameElement)
map <leader>rR <Action>(Refactorings.QuickListPopupAction)
map <leader>rc <Action>(ReformatCode)
map <leader>ro <Action>(OptimizeImports)
map <leader>rm <Action>(Move)

" Code actions
map <leader>. <Action>(ShowIntentionActions)

" zed config
map ga <Action>(ShowIntentionActions)
map gh <Action>(ShowHoverInfo)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTypeDeclaration)
map gr <Action>(FindUsages)
map gu <Action>(ShowUsages)
map gd <Action>(GotoDeclaration)

" Mapping for windows
map <leader>t <Action>(ActivateTerminalToolWindow)

" Hide open panels
nmap <Leader>w :action HideAllWindows<CR>

" View Optins
" ViewStatusBar
map <leader>vs <Action>(ViewStatusBar)
map <leader>vt <Action>(ViewToolBar)
map <leader>vn <Action>(ActivateNotificationsToolWindow)
map <leader>vv <Action>(VimFindActionIdAction)
map <leader>va <Action>(ViewToolButtons)

" Splitting Windows
nmap <Leader>\ :vsplit<CR>
nmap <Leader>- :split<CR>

" comment out
map <leader>cl <Action>(CommentByLineComment)
map <leader>cb <Action>(CommentByBlockComment)

" edit ideavim config
nnoremap \e :e ~/.ideavimrc<CR>
map \E <Action>(IdeaVim.ReloadVimRc.reload)

" Quick window navigation
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l
map <C-H> <C-W>h

" Jump between errors
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

" bookmarks
nmap <leader>bs <Action>(ShowBookmarks)
nmap <leader>bt <Action>(ActivateBookmarksToolWindow)
nmap <leader>bb <Action>(ToggleBookmark)
nmap <leader>be <Action>(EditBookmark)
nmap <leader>bp <Action>(GotoPreviousBookmark)
nmap <leader>bn <Action>(GotoNextBookmark)

" disable arrow keys
map <up> <nop>
map <down> <nop>
map <left> <nop>
map <right> <nop>

"map arrow keys to hjkl
" imap <C-j> <Down>
" imap <C-k> <Up>
" imap <C-h> <Left>
" imap <C-l> <Right>

" map copy and paste to not save to clipboard
" nnoremap X "_X
" nnoremap x "_x
" nnoremap s "_s
" nnoremap d "_d
" nnoremap D "_D

" have x (removes single character) not go into the default registry
nnoremap x "_x
" Make X an operator that removes without placing text in the default registry
nmap X "_d
nmap XX "_dd
vmap X "_d
vmap x "_d

" don't yank to default register when changing something
nnoremap c "xc
xnoremap c "xc

" Copy Word
nmap ,c yiw

" Select word
nmap ,v viw

" Center screen when moving up and down
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
vnoremap <C-u> <C-u>zz
vnoremap <C-d> <C-d>zz

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz
vnoremap n nzz
vnoremap N Nzz

" Silent version (prevents the need to hit Enter)
nnoremap <silent> <leader>o :set paste<CR>o<Esc>:set nopaste<CR>
nnoremap <silent> <leader>O :set paste<CR>O<Esc>:set nopaste<CR>

" In insert or command mode, move by using Ctrl
cnoremap <C-h> <Left>
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>
cnoremap <C-l> <Right>
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>

" copy whole file
nmap <C-a> ggVG"+y

" toggle line number relative
function! NumberToggle()
  if(&relativenumber == 1)
    set norelativenumber
  else
    set relativenumber number
  endif
endfunction

nnoremap <leader><Tab> :call NumberToggle()<cr>
